@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bangers';
  font-weight: 400;
  src: local('Bangers'), url('/fonts/bangers.ttf') format('truetype');
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white p-2 rounded-lg;
  }
  .btn-primary-outline {
    @apply border-2 border-primary p-2 rounded-lg text-primary;
  }
  .link {
    @apply dark:text-blue-400 text-blue-600 hover:underline;
  }
  .text-error {
    @apply text-blue-500;
  }
  .text-input {
    @apply bg-white border border-blue-500 dark:bg-neutral-700 dark:text-gray-300 p-2 rounded-lg;
  }
  .text-normal {
    @apply dark:text-gray-200 text-gray-800;
  }
  .text-standout {
    @apply dark:text-white text-black;
  }
}
